<!DOCTYPE HTML>
<html>
<head>
    <title>Тестовое задание</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
<div class="post-data">
    <form method="post">
        <input type="text" name="name" placeholder="Введите название">
        <input type="date" name="date" placeholder="Дата выпуска" required>
        <button type="submit">Добавить</button>
    </form>
</div>
<table>
    <tr>
        <th>Номер устройства</th>
        <th>Название устройства</th>
        <th>Дата выпуска</th>
        <th>Действие</th>
    </tr>
    {{#devices}}
    <tr>
        <td>{{id}}</td>
        <td class="textfield">{{name}}</td>
        <td class="textfield">{{date}}</td>
        <td>
            <a href="/delete?id={{id}}">
                <button>Удалить</button>
            </a>
        </td>
    </tr>
    {{/devices}}
</table>
</body>
</html>